body{
    background-color: gray;
}
#word{
    letter-spacing: 5px;
    font-size: 70px;
    text-align: center;
    margin: 0px;
    color: beige;
}
#youwon{
    font-size: 35px;
    text-align: center;
}
#hangman{
    font-size: 50px;
    text-align: center;
    color: white;
}
.guess-left{
    text-align: center;
    color: whitesmoke;
}
.buttons-all{
    text-align: center;
}
.buttons-all > button{
    background-color: aquamarine;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 25px;
}
.green{
    color: greenyellow;
}
.red{
    color: red;
}
.retry{
    text-align: center;
}
#play-again{
    height: 60px;
    width: 80px;
    background-color: blueviolet;
    font-size: 20px;
}
button:hover{
    cursor: pointer;
    border: 4px solid black;
}